header {
    width: 100%;
    background-color: #99999988;
    position: fixed;
    z-index: 100;
}

#contents_container {
    padding-top: 8em;
    margin-left: 6%;
    margin-right: 6%;
}

#contents_wrapper {
    margin: 0;
    display: flex;
    align-items: stretch;
    transition: 100ms;
}

#contents_wrapper.disappear {
    opacity: 0;
}

#contents_wrapper>div {
    padding-left: 1em;
    padding-right: 1em;
}

.column>div {
    margin-bottom: 2em;
}

.thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.fadein {
    opacity: 0;
    transition: 400ms;
    transition-timing-function: cubic-bezier(1, -0.1, 0.2, 1);
}

.upin {
    transform: translate(0, 1.5em);
    transition: 400ms;
    transition-timing-function: ease-in-out;
}

.fadein.shown {
    opacity: 1;
    transform: translate(0, 0);
}